@media (min-width: 1920px) and (max-width: 2560px) {
.slider{
    width: 100%;
    height: 400px;
    /* overflow: visible; */
    justify-items: center;
    /* margin-bottom: 8%; */
    position: relative;
    background-color: #2a2b41;
    /* align-content: center; */
}
.slidehelp{
    width: 480% !important;
    background-color: transparent !important;
    display: flex;
    position: absolute;
    /* vertical-align: middle; */
    /* overflow: clip; */
    top:20%;
    z-index: 2;
}
.slide{
    width: 20% !important;
    /* overflow: hidden; */
    text-align: center !important;
    justify-items: center !important;
    /* background: transparent; */
    /* padding: 10% 2% !important; */
    margin-left: 40px;
    margin-right: 40px;
}
.d-block{
    border-radius: 28px !important;
    width: 100%;
    height: 100%;
    /* height: 60vh; */
    /* align-self: center !important; */
    /* white-space:nowrap; */
    animation: moves linear forwards;
    animation-duration: 20s;
    transition: 20s;
    animation-iteration-count: infinite;
    margin: 0 0 !important;

}
@keyframes moves {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-280%);
    }
    100%{
      transform: translateX(0);
    }
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
.slider{
    width: 100%;
    height: 280px;
    /* overflow: visible; */
    justify-items: center;
    /* margin-bottom: 8%; */
    position: relative;
    background-color: #2a2b41;
    /* align-content: center; */
}
.slidehelp{
    width: 480% !important;
    background-color: transparent !important;
    display: flex;
    position: absolute;
    /* vertical-align: middle; */
    /* overflow: clip; */
    top:18%;
    z-index: 2;
}
.slide{
    width: 20% !important;
    /* overflow: hidden; */
    text-align: center !important;
    justify-items: center !important;
    /* background: transparent; */
    /* padding: 10% 2% !important; */
    margin-left: 40px;
    margin-right: 40px;
}
.d-block{
    border-radius: 28px !important;
    width: 100%;
    height: 100%;
    /* height: 60vh; */
    /* align-self: center !important; */
    /* white-space:nowrap; */
    animation: moves linear forwards;
    animation-duration: 20s;
    transition: 20s;
    animation-iteration-count: infinite;
    margin: 0 0 !important;

}
@keyframes moves {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-280%);
    }
    100%{
      transform: translateX(0);
    }
  }
}