/* Base styles - common across all breakpoints */

a {
  font-family: "jb-mono" !important;
}
/* Font face declarations */
@font-face {
  font-family: "sora-b";
  src: url(../../Fonts/sora/Sora-Bold.woff);
  font-display: swap;
}
@font-face {
  font-family: "sora";
  src: url(../../Fonts/sora/Sora-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "jb-mono";
  src: url(../../Fonts/jb-mono/JetBrainsMono-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "fira";
  src: url(../../Fonts/Fira/FiraCode-Medium.woff);
  font-display: swap;
}
@font-face {
  font-family: "ibm";
  src: url(../../Fonts/ibm/IBMPlexMono-Medium.woff);
  font-display: swap;
}
@font-face {
  font-family: "ibmr";
  src: url(../../Fonts/ibm/IBMPlexMono-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url(../../Fonts/inter/Inter_18pt-Regular.woff);
  font-display: swap;
}
/* Layout and general styles */
.wrapper {
  overflow-x: clip !important;
  height: auto;
  position: relative;
}
body {
  background-color: #f5f5f5 !important;
  overflow-x: clip !important;
}
button {
  cursor: url(../../media/img/starter-motherboard-pointer.webp), pointer !important;
  font-family: "sora" !important;
}
h1,
h2,
h3,
h4,
h5,

span {
  font-family: "jb-mono" !important;
}
video{
  pointer-events: none;
}