@media (min-width: 1921px) and (max-width: 2560px) {


    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: whitesmoke !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: #2a2b41 !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }

      

  }
  @media (min-width: 1401px) and (max-width: 1920px) {
    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 28px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: whitesmoke !important;
        font-size: 14px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 28px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: #2a2b41 !important;
        font-size: 14px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
  }
  @media (min-width: 1201px) and (max-width: 1400px) {
    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: whitesmoke !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: #2a2b41 !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    }
  @media (min-width: 993px) and (max-width: 1200px) {
    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: whitesmoke !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: #2a2b41 !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: whitesmoke !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: #2a2b41 !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
  }
  @media (min-width: 577px) and (max-width: 768px) {
    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: whitesmoke !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        /* width: 64%; */
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 40px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        /* font-family: "jb-mono" !important; */
        color: #2a2b41 !important;
        font-size: 20px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
  }
  @media (max-width: 576px) {
    .countries {
      width: 100%;
      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 4%; */
      /* margin-top: 4%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country {
        padding-left: 0 !important;
        width: 100%;
        background-color: transparent !important;
        padding: 0 !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
    }
    .ctext {
        padding: 2%;
        /* padding-left: 4%; */
        /* border-top-right-radius: 20px !important; */
        /* border-bottom-right-radius: 20px !important; */
      /* height: 28vh; */
      width: 100%;
      z-index: 2;
      background-color: #2a2b41 !important;

  
      /* float: left; */
      > h4 {
        color: whitesmoke !important;
        font-size: 14px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        font-family: "inter" !important;
        color: whitesmoke !important;
        font-size: 7px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
    .countries1 {
      width: 100%;
      height: 40vh;

      display: flex;
      height: auto;
      overflow: hidden !important;
      position: relative;
      /* margin-bottom: 8%; */
      /* margin-top: 8%; */
      align-content: center;
      > video {
          position: absolute;
          height: 100%;
          /* filter: grayscale(100%); */
          rotate: 0deg;
          z-index: 1;
          visibility: hidden !important;
          background-color: #000 !important;
        }
    }
    .country1 {
        padding-right: 0 !important;
        width: 100%;
        background-color: transparent !important;
        /* border: 48px solid transparent; */
        /* border-bottom: 24px solid transparent; */
        /* border-top: 24px solid transparent; */
        justify-items: end;
        padding: 0 !important;
        >img{
          width: 14%;
            position: absolute;
            left: 0%;
            top: -4%;
        }
    }
    .ctext1 {
        padding: 2%;
        /* padding-left: 4%; */
        /* border-top-left-radius: 20px !important; */
        /* border-bottom-left-radius: 20px !important; */
        /* height: 28vh; */

      width: 100%;
      z-index: 2;
      /* background-color: #2a2b41 !important; */

  
      /* float: left; */
      > h4 {
        color: #2a2b41 !important;
        font-size: 14px;
        /* text-align: center; */
        /* margin-top:18%; */
        /* margin-bottom: 2%; */
      }
      > span {
        font-family: "inter" !important;
        color: #2a2b41 !important;
        font-size: 7px;
        /* margin-bottom: 40px; */
        /* line-height: 2; */
      }
    }
  }
  