/* Base styles - common across all breakpoints */

.swiper {
  width: 100%;
  padding-top: 8%;
  padding-bottom: 4%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.lion {
  object-fit: fill;
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  text-align: left;
  color: white;
  width: 100% !important;
  overflow: hidden !important;
  border-radius: 20px;
}

.overlay > img {
  position: relative;
  width: 100% !important;
  z-index: 1 !important;
}

.hero {
  width: 100% !important;
  background-color: transparent;
}

.bottom-left,
.hero-title {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 4%;
  width: 60%;
  z-index: 2;
  width: 100%;
  height: 100%;

  text-align: center;
  justify-content: center;
  align-items: baseline;
  pointer-events: none;
  color: #000;
}

.hero-title > span {
  font-family: "sora-b" !important;
  margin: 0.8% 0.8%;
  /* position: absolute; */
  /* opacity: 1; */
  /* background: #000; */
  /* background: linear-gradient(to right,#f5f5f5 20%, #1e88e5 48%, #2a2b41 88%); */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* /* -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 0.28px #f5f5f5; */
}
.hero-title {
  > :nth-of-type(1) {
    animation: neon1 4s 0.4s ease-in-out forwards;
  }
  > :nth-of-type(2) {
    animation: neon2 4s 0.4s ease-in-out forwards;
  }
  > :nth-of-type(3) {
    animation: neon3 4s 0.4s ease-in-out forwards;
  }
}

@keyframes neon1 {
  0% {
    text-shadow: none;
  }
  1% {
    text-shadow: 0 0 0.2px #f5f5f5, 0 0 0.5px #f5f5f5, 0 0 1px #1e88e5,
      0 0 1.5px #1e88e5, 0 0 2px #1e88e5, 0 0 2.5px #1e88e5;
  }
  2% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  3% {
    text-shadow: 0 0 0.7px #f5f5f5, 0 0 1.3px #f5f5f5, 0 0 2.5px #1e88e5,
      0 0 3.8px #1e88e5, 0 0 5px #1e88e5, 0 0 6.3px #1e88e5;
  }
  4% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.5px #f5f5f5, 0 0 3px #1e88e5,
      0 0 4.5px #1e88e5, 0 0 6px #1e88e5, 0 0 7.5px #1e88e5;
  }
  5% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  6% {
    text-shadow: 0 0 1.2px #f5f5f5, 0 0 2.3px #f5f5f5, 0 0 4.5px #1e88e5,
      0 0 6.8px #1e88e5, 0 0 9px #1e88e5, 0 0 11.3px #1e88e5;
  }
  7% {
    text-shadow: 0 0 1.3px #f5f5f5, 0 0 2.5px #f5f5f5, 0 0 5px #1e88e5,
      0 0 7.5px #1e88e5, 0 0 10px #1e88e5, 0 0 12.5px #1e88e5;
  }
  8% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  9% {
    text-shadow: 0 0 1.7px #f5f5f5, 0 0 3.3px #f5f5f5, 0 0 6.5px #1e88e5,
      0 0 9.8px #1e88e5, 0 0 13px #1e88e5, 0 0 16.3px #1e88e5;
  }
  10% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.5px #f5f5f5, 0 0 7px #1e88e5,
      0 0 10.5px #1e88e5, 0 0 14px #1e88e5, 0 0 17.5px #1e88e5;
  }
  11% {
    text-shadow: 0 0 1.9px #f5f5f5, 0 0 3.8px #f5f5f5, 0 0 7.5px #1e88e5,
      0 0 11.3px #1e88e5, 0 0 15px #1e88e5, 0 0 18.8px #1e88e5;
  }
  12% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  13% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  14% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  15% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  16% {
    text-shadow: 0 0 1.9px #f5f5f5, 0 0 3.8px #f5f5f5, 0 0 7.6px #1e88e5,
      0 0 11.4px #1e88e5, 0 0 15.2px #1e88e5, 0 0 19px #1e88e5;
  }
  17% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.6px #f5f5f5, 0 0 7.2px #1e88e5,
      0 0 10.8px #1e88e5, 0 0 14.4px #1e88e5, 0 0 18px #1e88e5;
  }
  18% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.5px #f5f5f5, 0 0 7px #1e88e5,
      0 0 10px #1e88e5, 0 0 14px #1e88e5, 0 0 17px #1e88e5;
  }
  19% {
    text-shadow: 0 0 1.7px #f5f5f5, 0 0 3.4px #f5f5f5, 0 0 6.8px #1e88e5,
      0 0 10.2px #1e88e5, 0 0 13.6px #1e88e5, 0 0 17px #1e88e5;
  }
  20% {
    text-shadow: 0 0 1.6px #f5f5f5, 0 0 3.2px #f5f5f5, 0 0 6.4px #1e88e5,
      0 0 9.6px #1e88e5, 0 0 12.8px #1e88e5, 0 0 16px #1e88e5;
  }
  21% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  22% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  23% {
    text-shadow: 0 0 1.4px #f5f5f5, 0 0 2.8px #f5f5f5, 0 0 5.6px #1e88e5,
      0 0 8.4px #1e88e5, 0 0 11.2px #1e88e5, 0 0 14px #1e88e5;
  }
  24% {
    text-shadow: 0 0 1.2px #f5f5f5, 0 0 2.4px #f5f5f5, 0 0 4.8px #1e88e5,
      0 0 7.2px #1e88e5, 0 0 9.6px #1e88e5, 0 0 12px #1e88e5;
  }
  25% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  26% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.6px #f5f5f5, 0 0 3.2px #1e88e5,
      0 0 4.8px #1e88e5, 0 0 6.4px #1e88e5, 0 0 8px #1e88e5;
  }
  27% {
    text-shadow: 0 0 0.6px #f5f5f5, 0 0 1.2px #f5f5f5, 0 0 2.4px #1e88e5,
      0 0 3.6px #1e88e5, 0 0 4.8px #1e88e5, 0 0 6px #1e88e5;
  }
  28% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  29% {
    text-shadow: 0 0 0.3px #f5f5f5, 0 0 0.6px #f5f5f5, 0 0 1.2px #1e88e5,
      0 0 1.8px #1e88e5, 0 0 2.4px #1e88e5, 0 0 3px #1e88e5;
  }
  30% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  31% {
    text-shadow: none;
  }
  32% {
    text-shadow: none;
  }
  33% {
    text-shadow: none;
  }
  34% {
    text-shadow: none;
  }
  35% {
    text-shadow: none;
  }
  92% {
    text-shadow: none;
  }
  93% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  94% {
    text-shadow: 0 0 0.3px #f5f5f5, 0 0 0.6px #f5f5f5, 0 0 1.2px #1e88e5,
      0 0 1.8px #1e88e5, 0 0 2.4px #1e88e5, 0 0 3px #1e88e5;
  }
  95% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  96% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.6px #f5f5f5, 0 0 3.2px #1e88e5,
      0 0 4.8px #1e88e5, 0 0 6.4px #1e88e5, 0 0 8px #1e88e5;
  }
  97% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  98% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  99% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.6px #f5f5f5, 0 0 7.2px #1e88e5,
      0 0 10.8px #1e88e5, 0 0 14.4px #1e88e5, 0 0 18px #1e88e5;
  }
  100% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
}

@keyframes neon2 {
  0% {
    text-shadow: none;
  }
  30% {
    text-shadow: none;
  }
  31% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  32% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  33% {
    text-shadow: 0 0 0.7px #f5f5f5, 0 0 1.3px #f5f5f5, 0 0 2.5px #1e88e5,
      0 0 3.8px #1e88e5, 0 0 5px #1e88e5, 0 0 6.3px #1e88e5;
  }
  34% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.5px #f5f5f5, 0 0 3px #1e88e5,
      0 0 4.5px #1e88e5, 0 0 6px #1e88e5, 0 0 7.5px #1e88e5;
  }
  35% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  36% {
    text-shadow: 0 0 1.2px #f5f5f5, 0 0 2.3px #f5f5f5, 0 0 4.5px #1e88e5,
      0 0 6.8px #1e88e5, 0 0 9px #1e88e5, 0 0 11.3px #1e88e5;
  }
  37% {
    text-shadow: 0 0 1.3px #f5f5f5, 0 0 2.5px #f5f5f5, 0 0 5px #1e88e5,
      0 0 7.5px #1e88e5, 0 0 10px #1e88e5, 0 0 12.5px #1e88e5;
  }
  38% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  39% {
    text-shadow: 0 0 1.7px #f5f5f5, 0 0 3.3px #f5f5f5, 0 0 6.5px #1e88e5,
      0 0 9.8px #1e88e5, 0 0 13px #1e88e5, 0 0 16.3px #1e88e5;
  }
  40% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.5px #f5f5f5, 0 0 7px #1e88e5,
      0 0 10.5px #1e88e5, 0 0 14px #1e88e5, 0 0 17.5px #1e88e5;
  }
  41% {
    text-shadow: 0 0 1.9px #f5f5f5, 0 0 3.8px #f5f5f5, 0 0 7.5px #1e88e5,
      0 0 11.3px #1e88e5, 0 0 15px #1e88e5, 0 0 18.8px #1e88e5;
  }
  42% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  43% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  44% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  45% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  46% {
    text-shadow: 0 0 1.9px #f5f5f5, 0 0 3.8px #f5f5f5, 0 0 7.6px #1e88e5,
      0 0 11.4px #1e88e5, 0 0 15.2px #1e88e5, 0 0 19px #1e88e5;
  }
  47% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.6px #f5f5f5, 0 0 7.2px #1e88e5,
      0 0 10.8px #1e88e5, 0 0 14.4px #1e88e5, 0 0 18px #1e88e5;
  }
  48% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.5px #f5f5f5, 0 0 7px #1e88e5,
      0 0 10px #1e88e5, 0 0 14px #1e88e5, 0 0 17px #1e88e5;
  }
  49% {
    text-shadow: 0 0 1.7px #f5f5f5, 0 0 3.4px #f5f5f5, 0 0 6.8px #1e88e5,
      0 0 10.2px #1e88e5, 0 0 13.6px #1e88e5, 0 0 17px #1e88e5;
  }
  50% {
    text-shadow: 0 0 1.6px #f5f5f5, 0 0 3.2px #f5f5f5, 0 0 6.4px #1e88e5,
      0 0 9.6px #1e88e5, 0 0 12.8px #1e88e5, 0 0 16px #1e88e5;
  }
  51% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  52% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  53% {
    text-shadow: 0 0 1.4px #f5f5f5, 0 0 2.8px #f5f5f5, 0 0 5.6px #1e88e5,
      0 0 8.4px #1e88e5, 0 0 11.2px #1e88e5, 0 0 14px #1e88e5;
  }
  54% {
    text-shadow: 0 0 1.2px #f5f5f5, 0 0 2.4px #f5f5f5, 0 0 4.8px #1e88e5,
      0 0 7.2px #1e88e5, 0 0 9.6px #1e88e5, 0 0 12px #1e88e5;
  }
  55% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  56% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.6px #f5f5f5, 0 0 3.2px #1e88e5,
      0 0 4.8px #1e88e5, 0 0 6.4px #1e88e5, 0 0 8px #1e88e5;
  }
  57% {
    text-shadow: 0 0 0.6px #f5f5f5, 0 0 1.2px #f5f5f5, 0 0 2.4px #1e88e5,
      0 0 3.6px #1e88e5, 0 0 4.8px #1e88e5, 0 0 6px #1e88e5;
  }
  58% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  59% {
    text-shadow: 0 0 0.3px #f5f5f5, 0 0 0.6px #f5f5f5, 0 0 1.2px #1e88e5,
      0 0 1.8px #1e88e5, 0 0 2.4px #1e88e5, 0 0 3px #1e88e5;
  }
  60% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  61% {
    text-shadow: none;
  }
  62% {
    text-shadow: none;
  }
  63% {
    text-shadow: none;
  }
  64% {
    text-shadow: none;
  }
  65% {
    text-shadow: none;
  }
  92% {
    text-shadow: none;
  }
  93% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  94% {
    text-shadow: 0 0 0.3px #f5f5f5, 0 0 0.6px #f5f5f5, 0 0 1.2px #1e88e5,
      0 0 1.8px #1e88e5, 0 0 2.4px #1e88e5, 0 0 3px #1e88e5;
  }
  95% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  96% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.6px #f5f5f5, 0 0 3.2px #1e88e5,
      0 0 4.8px #1e88e5, 0 0 6.4px #1e88e5, 0 0 8px #1e88e5;
  }
  97% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  98% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  99% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.6px #f5f5f5, 0 0 7.2px #1e88e5,
      0 0 10.8px #1e88e5, 0 0 14.4px #1e88e5, 0 0 18px #1e88e5;
  }
  100% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
}

@keyframes neon3 {
  0% {
    text-shadow: none;
  }
  60% {
    text-shadow: none;
  }
  61% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  62% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  63% {
    text-shadow: 0 0 0.7px #f5f5f5, 0 0 1.3px #f5f5f5, 0 0 2.5px #1e88e5,
      0 0 3.8px #1e88e5, 0 0 5px #1e88e5, 0 0 6.3px #1e88e5;
  }
  64% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.5px #f5f5f5, 0 0 3px #1e88e5,
      0 0 4.5px #1e88e5, 0 0 6px #1e88e5, 0 0 7.5px #1e88e5;
  }
  65% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  66% {
    text-shadow: 0 0 1.2px #f5f5f5, 0 0 2.3px #f5f5f5, 0 0 4.5px #1e88e5,
      0 0 6.8px #1e88e5, 0 0 9px #1e88e5, 0 0 11.3px #1e88e5;
  }
  67% {
    text-shadow: 0 0 1.3px #f5f5f5, 0 0 2.5px #f5f5f5, 0 0 5px #1e88e5,
      0 0 7.5px #1e88e5, 0 0 10px #1e88e5, 0 0 12.5px #1e88e5;
  }
  68% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  69% {
    text-shadow: 0 0 1.7px #f5f5f5, 0 0 3.3px #f5f5f5, 0 0 6.5px #1e88e5,
      0 0 9.8px #1e88e5, 0 0 13px #1e88e5, 0 0 16.3px #1e88e5;
  }
  70% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.5px #f5f5f5, 0 0 7px #1e88e5,
      0 0 10.5px #1e88e5, 0 0 14px #1e88e5, 0 0 17.5px #1e88e5;
  }
  71% {
    text-shadow: 0 0 1.9px #f5f5f5, 0 0 3.8px #f5f5f5, 0 0 7.5px #1e88e5,
      0 0 11.3px #1e88e5, 0 0 15px #1e88e5, 0 0 18.8px #1e88e5;
  }
  72% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  73% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  74% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  75% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
  76% {
    text-shadow: 0 0 1.9px #f5f5f5, 0 0 3.8px #f5f5f5, 0 0 7.6px #1e88e5,
      0 0 11.4px #1e88e5, 0 0 15.2px #1e88e5, 0 0 19px #1e88e5;
  }
  77% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.6px #f5f5f5, 0 0 7.2px #1e88e5,
      0 0 10.8px #1e88e5, 0 0 14.4px #1e88e5, 0 0 18px #1e88e5;
  }
  78% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.5px #f5f5f5, 0 0 7px #1e88e5,
      0 0 10px #1e88e5, 0 0 14px #1e88e5, 0 0 17px #1e88e5;
  }
  79% {
    text-shadow: 0 0 1.7px #f5f5f5, 0 0 3.4px #f5f5f5, 0 0 6.8px #1e88e5,
      0 0 10.2px #1e88e5, 0 0 13.6px #1e88e5, 0 0 17px #1e88e5;
  }
  80% {
    text-shadow: 0 0 1.6px #f5f5f5, 0 0 3.2px #f5f5f5, 0 0 6.4px #1e88e5,
      0 0 9.6px #1e88e5, 0 0 12.8px #1e88e5, 0 0 16px #1e88e5;
  }
  81% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  82% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  83% {
    text-shadow: 0 0 1.4px #f5f5f5, 0 0 2.8px #f5f5f5, 0 0 5.6px #1e88e5,
      0 0 8.4px #1e88e5, 0 0 11.2px #1e88e5, 0 0 14px #1e88e5;
  }
  84% {
    text-shadow: 0 0 1.2px #f5f5f5, 0 0 2.4px #f5f5f5, 0 0 4.8px #1e88e5,
      0 0 7.2px #1e88e5, 0 0 9.6px #1e88e5, 0 0 12px #1e88e5;
  }
  85% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  86% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.6px #f5f5f5, 0 0 3.2px #1e88e5,
      0 0 4.8px #1e88e5, 0 0 6.4px #1e88e5, 0 0 8px #1e88e5;
  }
  87% {
    text-shadow: 0 0 0.6px #f5f5f5, 0 0 1.2px #f5f5f5, 0 0 2.4px #1e88e5,
      0 0 3.6px #1e88e5, 0 0 4.8px #1e88e5, 0 0 6px #1e88e5;
  }
  88% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  89% {
    text-shadow: 0 0 0.3px #f5f5f5, 0 0 0.6px #f5f5f5, 0 0 1.2px #1e88e5,
      0 0 1.8px #1e88e5, 0 0 2.4px #1e88e5, 0 0 3px #1e88e5;
  }
  90% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  91% {
    text-shadow: none;
  }
  92% {
    text-shadow: none;
  }
  93% {
    text-shadow: 0 0 0.1px #f5f5f5, 0 0 0.2px #f5f5f5, 0 0 0.4px #1e88e5,
      0 0 0.6px #1e88e5, 0 0 0.8px #1e88e5, 0 0 1px #1e88e5;
  }
  94% {
    text-shadow: 0 0 0.3px #f5f5f5, 0 0 0.6px #f5f5f5, 0 0 1.2px #1e88e5,
      0 0 1.8px #1e88e5, 0 0 2.4px #1e88e5, 0 0 3px #1e88e5;
  }
  95% {
    text-shadow: 0 0 0.5px #f5f5f5, 0 0 1px #f5f5f5, 0 0 2px #1e88e5,
      0 0 3px #1e88e5, 0 0 4px #1e88e5, 0 0 5px #1e88e5;
  }
  96% {
    text-shadow: 0 0 0.8px #f5f5f5, 0 0 1.6px #f5f5f5, 0 0 3.2px #1e88e5,
      0 0 4.8px #1e88e5, 0 0 6.4px #1e88e5, 0 0 8px #1e88e5;
  }
  97% {
    text-shadow: 0 0 1px #f5f5f5, 0 0 2px #f5f5f5, 0 0 4px #1e88e5,
      0 0 6px #1e88e5, 0 0 8px #1e88e5, 0 0 10px #1e88e5;
  }
  98% {
    text-shadow: 0 0 1.5px #f5f5f5, 0 0 3px #f5f5f5, 0 0 6px #1e88e5,
      0 0 9px #1e88e5, 0 0 12px #1e88e5, 0 0 15px #1e88e5;
  }
  99% {
    text-shadow: 0 0 1.8px #f5f5f5, 0 0 3.6px #f5f5f5, 0 0 7.2px #1e88e5,
      0 0 10.8px #1e88e5, 0 0 14.4px #1e88e5, 0 0 18px #1e88e5;
  }
  100% {
    text-shadow: 0 0 2px #f5f5f5, 0 0 4px #f5f5f5, 0 0 8px #1e88e5,
      0 0 12px #1e88e5, 0 0 16px #1e88e5, 0 0 20px #1e88e5;
  }
}

.title-line {
  font-family: "sora-b" !important;
  /* position: absolute; */
  margin-top: 8%;
}

.first,
.second,
.third {
  transition: 4s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.first,
.second,
.third {
  font-family: "sora-b" !important;
  color: #1e88e5;
}

.first {
  animation: change1 4s infinite;
}

.second {
  animation: change2 4s infinite;
}

.third {
  animation: change3 4s infinite;
}

.buttons {
  margin-top: 4%;
  opacity: 1;
  width: 100%;
  pointer-events: visible;
}

.golden,
.white {
  font-family: "sora" !important;
  position: relative;
  font-weight: 500 !important;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.golden {
  background: #1e88e5 !important;
  color: whitesmoke !important;
  border: 2px solid whitesmoke !important;
}

.white {
  color: #2a2b41 !important;
  border-color: #2a2b41 !important;
  position: relative;
}

.golden:hover {
  color: #1e88e5 !important;
  background-color: #1e88e5 !important;
  border: 2px solid #1e88e5 !important;
}

.golden:before {
  content: "";
  position: absolute;
  background: whitesmoke;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.golden:hover:before {
  top: 0;
}

.white:hover {
  color: whitesmoke !important;
  border: 2px solid #000 !important;
  background: #2a2b41 !important;
}

.white:before {
  content: "";
  position: absolute;
  background: #2a2b41;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.white:hover:before {
  top: 0;
}

.carousel-indicators {
  z-index: 4 !important;
}

.btns {
  z-index: 4 !important;
}

.buttons > .dropdown-menu {
  background-color: #2a2b41 !important;
  border-radius: 20px !important;
  border: 0px !important;
  padding: 1% 1% 1% 1%;
}

.buttons > .dropdown-menu .dropdown-divider {
  background-color: whitesmoke !important;
}

.buttons > .dropdown-menu .dropdown-item {
  border-radius: 14px;
  color: whitesmoke !important;
}

.buttons > .dropdown-menu .dropdown-item > img {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.buttons > .dropdown-menu .dropdown-item:hover {
  color: #2a2b41 !important;
}

.buttons > .dropdown-menu .dropdown-item:hover > img {
  filter: invert(0);
}

/* Keyframes - Must be outside media queries */
@keyframes change1 {
  0% {
    text-shadow: 8px 8px 8px #1e88e5;
  }
  35% {
    text-shadow: none;
  }
  70% {
    text-shadow: none;
  }
  100% {
    text-shadow: 8px 8px 8px #1e88e5;
  }
}

@keyframes change2 {
  0% {
    text-shadow: none;
  }
  35% {
    text-shadow: 8px 8px 8px #1e88e5;
  }
  70% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes change3 {
  0% {
    text-shadow: none;
  }
  35% {
    text-shadow: none;
  }
  70% {
    text-shadow: 8px 8px 8px #1e88e5;
  }
  100% {
    text-shadow: none;
  }
}
.swiper-cursor-follower {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url("../../media/img/Group.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

/* Responsive sizes for swiper cursor follower */
@media (min-width: 1921px) and (max-width: 2560px) {
  .swiper-cursor-follower {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1401px) and (max-width: 1920px) {
  .swiper-cursor-follower {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .swiper-cursor-follower {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .swiper-cursor-follower {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .swiper-cursor-follower {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .swiper-cursor-follower {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 576px) {
  .swiper-cursor-follower {
    width: 35px;
    height: 35px;
  }
}

/* Media Query Specific Styles */
@media (min-width: 1921px) and (max-width: 2560px) {
  .swiper-slide {
    width: 600px;
    height: 400px;
  }

  .hero {
    border: 24px solid whitesmoke;
  }

  .hero-title {
    font-size: 100px;
    margin-top: 6%;
  }

  .title-line {
    font-size: 80px;
  }

  .golden {
    width: 380px;
    height: 64px;
    border-radius: 18px !important;
    font-size: 22px !important;
    border: 4px solid whitesmoke !important;
  }

  .white {
    width: 300px;
    height: 68px;
    border-radius: 48px !important;
    font-size: 20px !important;
    margin-left: 28px;
    border-width: 4px !important;
  }

  .carousel-indicators {
    margin-bottom: 6% !important;
  }

  .buttons > .dropdown-menu {
    width: 280px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 14px !important;
  }
}

@media (min-width: 1401px) and (max-width: 1920px) {
  .swiper-slide {
    width: 400px;
    height: 280px;
  }

  .hero-title {
    font-size: 64px;
    /* margin-top: 4.8%; */
  }

  .title-line {
    font-size: 40px;
  }

  .golden {
    width: 318px;
    height: 54px;
    border-radius: 14px !important;
    font-size: 18px !important;
    margin-top: 4%;
  }

  .white {
    width: 240px;
    height: 60px;
    border-radius: 48px !important;
    font-size: 16px !important;
    margin-left: 28px;
    border-width: 4px !important;
  }

  .carousel-indicators {
    margin-bottom: 6% !important;
  }

  .buttons > .dropdown-menu {
    width: 168px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 14px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .swiper-slide {
    width: 400px;
    height: 280px;
  }

  .hero {
    border: 14px solid whitesmoke;
  }

  .hero-title {
    font-size: 60px;
    margin-top: 8%;
  }

  .title-line {
    font-size: 48px;
  }

  .golden {
    width: 248px;
    height: 48px;
    border-radius: 18px !important;
    font-size: 14px !important;
    border: none !important;
  }

  .white {
    width: 168px;
    height: 40px;
    border-radius: 48px !important;
    font-size: 12px !important;
    margin-left: 28px;
    border-width: 4px !important;
  }

  .carousel-indicators {
    margin-bottom: 2% !important;
  }

  .buttons > .dropdown-menu {
    width: 168px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 14px !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .swiper-slide {
    width: 400px;
    height: 280px;
  }

  .hero {
    border: 12px solid whitesmoke;
  }

  .hero-title {
    font-size: 48px;
    margin-top: 6.8%;
  }

  .title-line {
    font-size: 40px;
  }

  .golden {
    width: 200px;
    height: 48px;
    border-radius: 18px !important;
    font-size: 12px !important;
    border: none !important;
  }

  .golden:hover {
    color: #2a2b41 !important;
    background-color: whitesmoke !important;
    border: 4px solid #2a2b41 !important;
  }

  .white {
    width: 168px;
    height: 40px;
    border-radius: 24px !important;
    font-size: 12px !important;
    margin-left: 8px;
    border-width: 2px !important;
  }

  .carousel-indicators {
    margin-bottom: 2% !important;
  }

  .buttons > .dropdown-menu {
    width: 168px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 14px !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .swiper-slide {
    width: 400px;
    height: 280px;
  }

  .overlay {
    border-radius: 18px;
  }

  .hero {
    border: 8px solid whitesmoke;
  }

  .hero-title {
    font-size: 60px;
    margin-top: 4%;
  }

  .title-line {
    font-size: 40px;
  }

  .golden {
    width: 264px;
    height: 60px;
    border-radius: 20px !important;
    font-size: 18px !important;
    border: none !important;
  }

  .white {
    width: 280px;
    height: 64px;
    border-radius: 28px !important;
    font-size: 20px !important;
    margin-left: 8px;
    border-width: 2px !important;
  }

  .carousel-indicators {
    margin-bottom: 0% !important;
  }

  .buttons > .dropdown-menu {
    width: 168px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 14px !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .swiper-slide {
    width: 280px;
    height: 200px;
  }

  .overlay {
    border-radius: 18px;
  }

  .hero {
    border: 8px solid whitesmoke;
  }

  .hero-title {
    font-size: 48px;
    margin-top: 4%;
  }

  .title-line {
    font-size: 36px;
  }

  .buttons {
    margin-bottom: 14%;
  }

  .golden {
    width: 208px;
    height: 44px;
    border-radius: 18px !important;
    font-size: 14px !important;
    border: none !important;
  }

  .white {
    width: 228px;
    height: 48px;
    border-radius: 36px !important;
    font-size: 18px !important;
    margin-left: 8px;
    border-width: 2px !important;
  }

  .carousel-indicators {
    margin-bottom: 0% !important;
  }

  .buttons > .dropdown-menu {
    width: 148px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 12px !important;
  }

  .buttons > .dropdown-menu .dropdown-item > img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    width: 180px;
    height: 140px;
  }

  .hero {
    border-top: none;
    border: 4px solid whitesmoke;
  }

  .hero-title {
    font-size: 28px;
    margin-top: 14%;
  }

  .title-line {
    font-size: 24px;
  }

  .buttons {
    margin-bottom: auto;
  }

  .golden {
    width: 140px;
    height: 28px;
    border-radius: 10px !important;
    font-size: 10px !important;
    border: none !important;
  }

  .white {
    width: 148px;
    height: 36px;
    border-radius: 24px !important;
    font-size: 10px !important;
    margin-left: 8px;
    border-width: 2px !important;
  }

  .carousel-indicators {
    margin-bottom: 0% !important;
  }

  .carousel-indicators > button {
    width: 4% !important;
  }

  .buttons > .dropdown-menu {
    width: 128px !important;
  }

  .buttons > .dropdown-menu .dropdown-item {
    font-size: 10px !important;
  }

  .buttons > .dropdown-menu .dropdown-item > img {
    width: 16px;
    height: 16px;
  }
}
