@media (min-width: 1921px) and (max-width: 2560px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
    border-radius: 20px;
    > img {
      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0.8; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
    border: 24px solid whitesmoke;
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  
  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
    color: whitesmoke !important;

    font-size: 88px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 6%;
    position: absolute;
    opacity: 1;
/* top: -4%;
left: 32%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 88px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 46%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 380px;
    height: 64px;
    border-radius:18px !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    /* margin-left: 82px; */
    overflow: hidden;
    /* border: none !important; */
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:4px solid whitesmoke !important;

  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    border-color: #2A2B41 !important;
    width: 300px;
    height: 68px;
    border-radius:48px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 28px;
    border-width: 4px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #1e88e5 !important;
    background-color: #1e88e5 !important;
    border: 2px solid #1e88e5 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }
  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 6% !important;
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
            width: 280px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 14px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 20px;
              height: 20px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
@media (min-width: 1401px) and (max-width: 1920px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
    border-radius: 20px;
    /* display: flex; */
    > img {
      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0.8; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
    border: 20px solid whitesmoke;
    /* border-top: none; */
    /* display: flex; */
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
/* display: flex; */
    color: whitesmoke !important;
    font-size: 64px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 4.8%;
    position: absolute;
    opacity: 1;
/* top: -4%; */
/* left: 32%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 64px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 44.8%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 318px;
    height: 54px;
    border-radius:14px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    /* margin-left: 82px; */
    overflow: hidden;
    /* border: none !important; */
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:2px solid whitesmoke !important;
  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    width: 240px;
    height: 60px;
    border-radius: 48px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-left: 28px;
    border-width: 4px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #1e88e5 !important;
    background-color: #1e88e5 !important;
    border: 2px solid #1e88e5 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }

  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 6% !important;
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
        width: 168px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 14px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 20px;
              height: 20px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
    border-radius: 20px;
    > img {
      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0.8; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
    border: 14px solid whitesmoke;

  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }


  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
    color: whitesmoke !important;

    font-size: 48px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 8%;
    position: absolute;
    opacity: 1;
/* top: -2%;
left: 32%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 48px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 48.8%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 248px;
    height: 48px;
    border-radius:18px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    /* margin-left: 82px; */
    overflow: hidden;
    border: none !important;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:2px solid whitesmoke !important;

  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    border-color: #2A2B41 !important;
    width: 168px;
    height: 40px;
    border-radius: 48px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-left: 28px;
    border-width: 4px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #1e88e5 !important;
    background-color: #1e88e5 !important;
    border: 2px solid #1e88e5 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }
  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 2% !important;
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
        width: 168px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 14px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 20px;
              height: 20px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
    border-radius: 20px;
    /* background: url(../../media/img/all-12.jpg); */
    > img {
      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
    border: 12px solid whitesmoke;
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  
  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
color: whitesmoke !important;
    font-size: 40px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 6.8%;
    position: absolute;
    opacity: 1;
/* top: 0%;
left: 30%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 40px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 48%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 200px;
    height: 48px;
    border-radius:18px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    /* margin-left: 82px; */
    overflow: hidden;
    border: none !important;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:2px solid whitesmoke !important;

  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    border-color: #2A2B41 !important;
    width: 168px;
    height: 40px;
    border-radius: 24px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-left: 8px;
    border-width: 2px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #2A2B41 !important;
    background-color: whitesmoke !important;
    border: 4px solid #2A2B41 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }
  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 2% !important;
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
        width: 168px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 14px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 20px;
              height: 20px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
    border-radius: 18px;
    /* background: url(../../media/img/all-18.jpg); */
    > img {
      /* content: url(../../media/img/all-18.jpg) !important; */
      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
        border: 8px solid whitesmoke;

  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  
  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
    color: whitesmoke !important;

    font-size: 48px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 4%;
    position: absolute;
    opacity: 1;
/* top: 40%;
left: 8%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 48px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 44.8%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 264px;
    height: 60px;
    border-radius:20px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    /* margin-left: 82px; */
    overflow: hidden;
    border: none !important;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:2px solid whitesmoke !important;

  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    border-color: #2A2B41 !important;
    width: 280px;
    height: 64px;
    border-radius:28px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 8px;
    border-width: 2px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #1e88e5 !important;
    background-color: #1e88e5 !important;
    border: 2px solid #1e88e5 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }
  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 0% !important;
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
        width: 168px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 14px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 20px;
              height: 20px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
    border-radius: 18px;
    /* background: url(../../media/img/all-15.jpg); */
    /* content: url(../../media/img/all-18.jpg); */

    > img {
      /* content: url(../../media/img/all-18.jpg) !important; */

      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
    border: 8px solid whitesmoke;

  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  
  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
    color: whitesmoke !important;

    font-size: 44px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 4%;
    position: absolute;
    opacity: 1;
/* top: 40%;
left: 8%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 44px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 44.8%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 228px;
    height: 48px;
    border-radius:18px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    /* margin-left: 40px; */
    overflow: hidden;
    border: none !important;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:2px solid whitesmoke !important;

  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    border-color: #2A2B41 !important;
    width: 228px;
    height: 48px;
    border-radius:36px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-left: 8px;
    border-width: 2px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #1e88e5 !important;
    background-color: #1e88e5 !important;
    border: 2px solid #1e88e5 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }
  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 0% !important;
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
        width: 148px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 12px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 18px;
              height: 18px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
@media (max-width: 576px) {
  .lion {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: relative;
    text-align: left;
    color: white;
    width: 100% !important;
    overflow: hidden !important;
    /* border-radius: 20px; */
        border-radius: 18px;

    /* background: url(../../media/img/all-17.JPG); */
    /* content: url(../../media/img/all-18.jpg); */

    > img {
      /* content: url(../../media/img/all-18.jpg) !important; */

      position: relative;
      width: 100% !important;
      z-index: 1 !important;
      /* opacity: 0; */
    }
    /* >IMG{
        position: absolute;
z-index: 2 !important;
opacity: 0;
top: 0%;
left: 0%;
      } */
  }

  .hero {
    width: 100% !important;
    background-color: transparent;
    /* border: 48px solid transparent; */
    border-top: none;
        border: 4px solid whitesmoke;
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0%;
    /* left: 0%; */
    width: 60%;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.48) !important; */
    width: 100%;
    height: 100%;
    /* padding-left: 4%; */
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  
  .bottom-left > h1 {
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "sora-b" !important;
    color: whitesmoke !important;

    font-size: 28px;
    margin-bottom: 2%;
    /* padding-right: 200px; */
    margin-top: 2%;
    position: absolute;
    opacity: 1;
/* top: 40%;
left: 4%; */
>span{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 28px;
}
  }
  .first{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
      /* background-image: url(../media/img/Group\ 1.png); */
    }
    animation: change1;
    transition: 4s;
    /* opacity: 1 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
  }
  .second{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change2;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }
  .third{
    >span{
      font-family: "sora-b" !important;
      color: #1e88e5;
    }
    animation: change3;
    transition: 4s;
    /* opacity: 0 ; */
    animation-duration: 4s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;

  }

  @keyframes change1 {
    0% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change2 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes change3 {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .buttons {
    float: right;
    /* padding-top: 44%; */
    /* position: absolute; */
    margin-top: 42%;
    /* left: 42%; */
    opacity: 1;
    width: 80%;
  }
  .golden {
    font-family: "sora" !important;

    /* background-color: #886a38 !important; */
    position: relative;
    background: #1e88e5 !important;
    color: whitesmoke !important;
    width: 140px;
    height: 28px;
    border-radius:12px !important;
    font-size: 8px !important;
    font-weight: 500 !important;
    /* margin-left: 20px; */
    overflow: hidden;
    border: none !important;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    border:2px solid whitesmoke !important;

  }
  .white {
    font-family: "sora" !important;

    color: #2A2B41 !important;
    border-color: #2A2B41 !important;
    width: 148px;
    height: 36px;
    border-radius: 24px !important;
    font-size: 10px !important;
    font-weight: 500 !important;
    margin-left: 8px;
    border-width: 2px !important;
    position: relative;

    /* display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  background: none;  
  color: #383736;*/
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  /* .golden:hover{
      animation-fill-mode: both;
      background: none !important;
      color: #9b7c45 !important;
      background-color: #000 !important;
      border: 2px solid #9b7c45 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */
  /* .white:hover{
      animation-fill-mode: both;
    border-color: #000 !important;
      background: #fff !important;
      color: #000 !important;
      border: 2px solid #000 !important;
      animation-timing-function: ease-in-out;
    } */

  .golden:hover {
    color: #1e88e5 !important;
    background-color: #1e88e5 !important;
    border: 2px solid #1e88e5 !important;
  }

  .golden:before {
    content: "";
    position: absolute;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .golden:hover:before {
    top: 0;
  }

  .white:hover {
    color: whitesmoke !important;
    border: 2px solid #000 !important;
    background: #2A2B41 !important;
  }

  .white:before {
    content: "";
    position: absolute;
    background: #2A2B41;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }

  .white:hover:before {
    top: 0;
  }

  .carousel-indicators{
    z-index: 4 !important;
    margin-bottom: 0% !important;
    /* width: 100% !important; */
    > button{
      width: 4% !important;
    }
  }
  .btns{
    z-index: 4 !important;
  }
  .buttons{
    >.dropdown-menu{
      background-color: #2A2B41 !important;
        border-radius: 20px !important;
        border: 0px !important;
        padding: 1% 1% 1% 1%;
        width: 120px !important;
        .dropdown-divider{
          background-color: whitesmoke !important;
        }
        .dropdown-item{
          /* padding: 2% 2% 2% 2%; */
          font-size: 10px !important;
          border-radius: 14px;
            color: whitesmoke !important;
            >img{
              filter: invert(1);
              width: 18px;
              height: 18px;
              /* margin-right: 10px; */
            }
        }
        .dropdown-item:hover{
          color: #2A2B41 !important;
          >img{
            filter: invert(0);
          }
        }
    }
  }
}
