
#nb {
  border-top: none;
  border-bottom: none;
  position: -webkit-fixed !important;
  position: fixed !important;
  top: 0 !important;
  z-index: 8 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
}

.navhelp {
  justify-content: left;
}

.navbar-expand-lg {
  border-radius: 48px;
  background-color: transparent !important;
}

.collapse {
  width: 100% !important;
}

.logo,
.logo1,
.navbar-brand,
.navi,
.navbar-nav,
.container-fluid {
  background-color: transparent !important;
}

.navbar-nav {
  width: 100% !important;
}

.hambur {
  background-color: transparent !important;
  border: none !important;
  visibility: visible !important;
  padding: 0 !important;
  filter: invert(1);
}

.justright {
  float: left !important;
}

.navbar-brand {
  margin-left: auto !important;
}

.nav-link {
  color: whitesmoke !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nav-item {
  text-align: center !important;
  align-content: center;
  font-family: "sora-b" !important;
}

.dropstart {
  float: left !important;
}

.form {
  margin-right: 0%;
  position: absolute;
  left: 52%;
}

.form > input {
  margin-bottom: auto;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #2a2b41 !important;
  visibility: hidden;
  display: none;
  position: relative;
  right: -80%;
  opacity: 0;
  transition: right 0.8s ease, opacity 0.8s ease;
}

.form > input.hiding {
  display: block;
}

.form > input.visible {
  display: block;
  opacity: 1;
}

/* Common dropdown menu styles */
.navhelp .dropdown-menu {
  transition: none !important;
  position: fixed !important;
  left: 0 !important;
  right: auto !important;
  margin: 0 !important;
  border-radius: 0 !important;
  max-width: 100% !important;
  height: 104vh !important;
  top: var(--bs-dropdown-spacer) !important;
  background-color: #2a2b41 !important;
  transform: translateX(-100%) !important;
  opacity: 0 !important;
  display: block !important;
  visibility: hidden !important;
}

.navhelp .dropdown-menu.show {
  transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: transform 0.8s ease, opacity 0.4s ease, visibility 0.4s !important;
}

.navhelp .dropstart .dropdown-menu {
  top: -1vh !important;
  left: -0.2vw !important;
  right: auto !important;
}

.navhelp .btn-group.dropstart {
  position: static !important;
}

@keyframes menu {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.navhelp .dropdown-item {
  color: whitesmoke !important;
}

.navhelp .dropdown-item a {
  margin-left: 8%;
}

.navhelp .dropdown-item:hover a {
  color: #2a2b41 !important;
  >img{filter: invert(1);}
}

/* Media Query Specific Styles */
@media (min-width: 1921px) and (max-width: 2560px) {
  #nb {
    border: 48px solid transparent !important;
  }

  .navbar-expand-lg {
    height: 108px !important;
  }

  .logo {
    width: 240px;
    height: auto;
    margin-left: 40%;
  }

  .logo1 {
    width: 280px;
    height: auto;
  }

  .hambur {
    margin-left: 88%;
  }

  .justright {
    width: 40px;
    height: 40px;
  }

  .nav-item {
    width: 60% !important;
    letter-spacing: 0px;
    font-family: "sora-b" !important;
  }

  .form {
    top: 28%;
  }

  .form > input {
    margin-top: 1.2%;
    width: 36vw !important;
  }

  .form > input.visible {
    right: -4%;
  }

  .navhelp .dropdown-menu {
    width: 28vw !important;
  }

  .navhelp .dropdown-item {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 28px !important;
    font-family: "sora-b" !important;
  }

  .navhelp .dropdown-item:hover a > img {
    filter: invert(1);
  }
}

@media (min-width: 1401px) and (max-width: 1920px) {
  #nb {
    border: 40px solid transparent !important;
  }

  .navbar-expand-lg {
    height: 80px !important;
  }

  .logo {
    width: 180px;
    height: auto;
    margin-left: 40%;
  }

  .logo1 {
    width: 240px;
    height: auto;
  }

  .hambur {
    margin-left: 80%;
  }

  .justright {
    width: 36px;
    height: 36px;
  }

  .nav-item {
    width: 40% !important;
    font-size: 13px;
  }

  .form {
    top: 28%;
  }

  .form > input {
    margin-top: 1%;
    width: 36vw !important;
  }

  .form > input.visible {
    right: -8%;
  }

  .navhelp .dropdown-menu {
    width: 28vw !important;
  }

  .navhelp .dropdown-item {
    font-family: "sora-b" !important;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 18px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  #nb {
    border: 40px solid transparent !important;
  }

  .navbar-expand-lg {
    height: 68px !important;
  }

  .logo {
    width: 180px;
    height: auto;
    margin-left: 40%;
  }

  .logo1 {
    width: 180px;
    height: auto;
  }

  .hambur {
    margin-left: 148%;
  }

  .justright {
    width: 28px;
    height: 28px;
  }

  .nav-item {
    width: 40% !important;
    font-size: 11px;
  }

  .form {
    top: 28.8%;
  }

  .form > input {
    margin-top: 1%;
    width: 36vw !important;
  }

  .form > input.visible {
    right: -4%;
  }

  .navhelp .dropdown-menu {
    width: 28vw !important;
  }

  .navhelp .dropdown-item {
    font-family: "sora-b" !important;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 14px !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #nb {
    border: 48px solid transparent !important;
  }

  .navbar-expand-lg {
    height: 60px !important;
  }

  .logo {
    width: 128px !important;
    height: auto;
    margin-left: 40%;
    margin-right: 0vw;
  }

  .logo1 {
    width: 164px !important;
    height: auto;
    margin-right: 0vw;
  }

  .hambur {
    margin-left: 148%;
  }

  .justright {
    width: 24px;
    height: 24px;
    float: right !important;
  }

  .nav-link {
    padding: 0 !important;
  }

  .nav-link > img {
    width: 22px;
  }

  .nav-item {
    width: 40% !important;
    letter-spacing: 0px;
    font-size: 8px !important;
  }

  .form {
    top: 28.8%;
  }

  .form > input {
    margin-top: 1.2%;
    width: 36vw !important;
  }

  .form > input.visible {
    right: -4%;
  }

  .navhelp .dropdown-menu {
    width: 28vw !important;
  }

  .navhelp .dropdown-item {
    color: black !important;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 14px !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #nb {
    border: 40px solid transparent !important;
    border-left: none !important;
    padding-left: 2.8% !important;
  }

  .navbar-expand-lg {
    border-radius: 8px;
  }

  .collapse {
    display: none !important;
  }

  .logo {
    width: 64px !important;
    margin-left: 4%;
    margin-right: 0vw;
    display: none !important;
  }

  .logo1 {
    width: 360px !important;
    margin-right: 0vw;
  }

  .hambur {
    margin-left: 80%;
    filter: none;
  }

  .justright {
    width: 60px;
    height: 60px;
    float: right !important;
  }

  .nav-link {
    display: none !important;
  }

  .nav-link > img {
    padding-top: 18.8%;
  }

  .nav-item {
    width: 40% !important;
    letter-spacing: 2px;
  }

  .navbar-toggler {
    display: none !important;
  }

  .form > input {
    margin-top: auto;
    width: 180% !important;
  }

  .navhelp .dropdown-menu {
    width: 60vw !important;
  }

  .navhelp .dropdown-item {
    margin-top: 12%;
    font-size: 40px !important;
  }

  .navhelp .dropdown-item > .nav-link {
    display: block !important;
  }

  .navhelp .dropdown-item a {
    font-family: "inter" !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #nb {
    border: 24px solid transparent !important;
    border-left: none !important;
    padding-left: 2.8% !important;
  }

  .navbar-expand-lg {
    border-radius: 8px;
  }

  .collapse {
    display: none !important;
  }

  .logo {
    width: 64px !important;
    margin-left: 4%;
    margin-right: 0vw;
    display: none !important;
  }

  .logo1 {
    width: 280px !important;
    margin-right: 0vw;
  }

  .hambur {
    margin-left: 40%;
    filter: none;
  }

  .justright {
    width: 48px;
    height: 48px;
    float: right !important;
  }

  .nav-link > img {
    padding-top: 18.8%;
  }

  .nav-item {
    width: 40% !important;
    letter-spacing: 2px;
  }

  .navbar-toggler {
    display: none !important;
  }

  .form > input {
    margin-top: auto;
    width: 180% !important;
  }

  .navhelp .dropdown-menu {
    width: 60vw !important;
  }

  .navhelp .dropdown-item {
    margin-top: 14%;
    font-size: 20px !important;
  }

  .navhelp .dropdown-item > .nav-link {
    display: block !important;
  }

  .navhelp .dropdown-item a {
    font-family: "inter" !important;
  }
}

@media (max-width: 576px) {
  #nb {
    border: 20px solid transparent !important;
    border-left: none !important;
    padding-left: 2.8% !important;
  }

  .navbar-expand-lg {
    border-radius: 8px;
  }

  .collapse {
    display: none !important;
  }

  .logo {
    width: 64px !important;
    margin-left: 4%;
    margin-right: 0vw;
    display: none !important;
  }

  .logo1 {
    width: 160px !important;
    margin-right: 0vw;
  }

  .hambur {
    margin-left: 28%;
    filter: none;
  }

  .justright {
    width: 28px;
    height: 28px;
    float: right !important;
  }

  .nav-link > img {
    padding-top: 18.8%;
  }

  .nav-item {
    width: 40% !important;
    letter-spacing: 2px;
  }

  .navbar-toggler {
    display: none !important;
  }

  .form > input {
    margin-top: auto;
    width: 180% !important;
  }

  .navhelp .dropdown-menu {
    width: 60vw !important;
  }

  .navhelp .dropdown-item {
    margin-top: 8%;
    font-size: 18px !important;
  }

  .navhelp .dropdown-item > .nav-link {
    display: block !important;
  }

  .navhelp .dropdown-item a {
    font-family: "inter" !important;
  }
}
