@media (min-width: 1921px) and (max-width: 2560px) {
  .rich {
    width: 100%;
    display: flex;
    height: 80vh;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 48px solid transparent;
    border-bottom: 24px solid transparent;
    border-top: 24px solid transparent;
  }
  .richtext {
    padding-top: 100px;
    padding-left: 140px;
    width: 60%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 48px;
      /* text-align: center; */
      margin-bottom: 6%;
      margin-top: 28%;
    }
    > span {
      font-family: "jb-mono" !important;

      color: #000 !important;
      font-size: 20px;
      margin-bottom: 240px;
letter-spacing: 2px;
    }
  }

  .richimg {
    width: 40%;
    float: right;
    overflow: hidden;
    margin-left: 28%;
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      height: 88%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
@media (min-width: 1401px) and (max-width: 1920px) {
  .rich {
    width: 100%;
    display: flex;
    height: 84vh;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 48px solid transparent;
    border-bottom: 24px solid transparent;
    border-top: 0px solid transparent;
  }
  .richtext {
    padding-top: 80px;
    padding-left: 80px;
    width: 60%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 28px;
      /* text-align: center; */
      margin-bottom: 6%;
      margin-top: 20%;
    }
    > span {
      font-family: "jb-mono" !important;

      color: #000 !important;
      font-size: 16px;
      margin-bottom: 240px;
/* letter-spacing: 2px; */
    }
  }

  .richimg {
    width: 40%;
    float: right;
    overflow: hidden;
    margin-left: 20%;
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      margin-top: 20%;
      height: 80%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .rich {
    width: 100%;
    display: flex;
    height: 84vh;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 48px solid transparent;
    border-bottom: 24px solid transparent;
    border-top: 0px solid transparent;
  }
  .richtext {
    padding-top: 80px;
    padding-left: 80px;
    width: 60%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 28px;
      /* text-align: center; */
      margin-bottom: 6%;
      margin-top: 20%;
    }
    > span {
      font-family: "jb-mono" !important;

      color: #000 !important;
      font-size: 16px;
      margin-bottom: 240px;
/* letter-spacing: 2px; */
    }
  }

  .richimg {
    width: 40%;
    float: right;
    overflow: hidden;
    margin-left: 20%;
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      margin-top: 20%;
      height: 80%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .rich {
    width: 100%;
    /* display: flex; */
    height: auto;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    text-align: center;
    /* justify-content: center; */
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 4px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
  }
  .richtext {
    /* padding-top: 2px; */
    padding: 8%;
    padding-top: 0;
    width: 100%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 28px;
      /* text-align: center; */
      margin-bottom: 4%;
      margin-top: 2%;
    }
    > span {
      font-family: "inter" !important;
/* line-gap-override: 2px; */
line-height: 0.2;
      color: #000 !important;
      font-size: 18px;
      /* margin-bottom: 240px; */
/* letter-spacing: 2px; */
    }
  }

  .richimg {
    width: 100%;
    float: right;
    overflow: hidden;
    /* margin-top: 2%; */
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      width: 28%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .rich {
    width: 100%;
    /* display: flex; */
    height: auto;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    text-align: center;
    /* justify-content: center; */
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 4px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
  }
  .richtext {
    /* padding-top: 2px; */
    padding: 8%;
    padding-top: 0;
    width: 100%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 24px;
      /* text-align: center; */
      margin-bottom: 6%;
      margin-top: 14%;
    }
    > span {
      font-family: "inter" !important;
/* line-gap-override: 2px; */
line-height: 0.2;
      color: #000 !important;
      font-size: 14px;
      /* margin-bottom: 240px; */
/* letter-spacing: 2px; */
    }
  }

  .richimg {
    width: 100%;
    float: right;
    overflow: hidden;
    /* margin-top: 2%; */
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      width: 40%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .rich {
    width: 100%;
    /* display: flex; */
    height: auto;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    text-align: center;
    /* justify-content: center; */
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 4px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
  }
  .richtext {
    /* padding-top: 2px; */
    padding: 8%;
    padding-top: 0;
    width: 100%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 18px;
      /* text-align: center; */
      margin-bottom: 6%;
      margin-top: 14%;
    }
    > span {
      font-family: "inter" !important;
/* line-gap-override: 2px; */
line-height: 0.2;
      color: #000 !important;
      font-size: 12px;
      /* margin-bottom: 240px; */
/* letter-spacing: 2px; */
    }
  }

  .richimg {
    width: 100%;
    float: right;
    overflow: hidden;
    /* margin-top: 2%; */
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      width: 40%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
@media (max-width: 576px) {
  .rich {
    width: 100%;
    /* display: flex; */
    height: auto;
    border-radius: 20px !important;
    overflow: hidden !important;
    /* background-color: #2a2b41 !important; */
    position: relative;
    margin-bottom: 8%;
    text-align: center;
    /* justify-content: center; */
    > video {
      position: absolute;
      height: 100%;
      /* filter: grayscale(100%); */
      rotate: 0deg;
      z-index: 1;
      visibility: hidden !important;
      background-color: #000 !important;
    }
  }
  .richhelp {
    background-color: transparent !important;
    border: 4px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
  }
  .richtext {
    /* padding-top: 2px; */
    padding: 8%;
    padding-top: 0;
    width: 100%;
    z-index: 2;

    /* float: left; */
    > h4 {
      font-family: "sora-b" !important;

      color: #000 !important;
      font-size: 14px;
      /* text-align: center; */
      margin-bottom: 6%;
      margin-top: 28%;
    }
    > span {
      font-family: "inter" !important;
/* line-gap-override: 2px; */
line-height: 0.2;
      color: #000 !important;
      font-size: 8px;
      /* margin-bottom: 240px; */
/* letter-spacing: 2px; */
    }
  }

  .richimg {
    width: 100%;
    float: right;
    overflow: hidden;
    /* margin-top: 2%; */
    > img {
      position: absolute;
      width: 20%;
      /* height: 40%; */
      /* filter: grayscale(100%); */
      /* rotate: 0deg; */
      z-index: -1;
      /* visibility: hidden !important; */
      /* background-color: #000 !important; */
      left: 0%;
      opacity: 0.8;
    }
    > video {
      width: 40%;
      /* height: auto; */
      /* overflow: hidden; */
      /* filter: grayscale(88%); */
      /* opacity: 0.68 !important; */
    }
  }
}
