/* Base styles - common across all breakpoints */
.robot {
  width: 100%;
  display: flex;
  height: auto;
  border-radius: 20px !important;
  overflow: hidden !important;
  position: relative;
  padding: 0;
}

.robo {
  background-color: transparent !important;
  border: 0px solid transparent;
  margin-top: 8% !important;
}

.robotext {
  width: 60%;
  z-index: 2;
  margin-left: 2%;
}

.robotext > video {
  position: absolute;
  width: 48%;
  filter: invert(100%);
  z-index: 0 !important;
  top: -14%;
  left: 48%;
  opacity: 0.24 !important;
}

.robotext > h2 {
  color: #1e88e5 !important;
  font-family: "sora-b" !important;
  margin-bottom: 4%;
  margin-top: 28%;
}

.robotext > span {
  font-family: "jb-mono" !important;
  color: #000 !important;
  margin-bottom: 240px;
}

.roboimg {
  width: 48%;
  overflow: hidden;
}

.roboimg > video {
  width: 100%;
}

/* Media Query Specific Styles */
@media (min-width: 1921px) and (max-width: 2560px) {

  .robotext {
    margin-bottom: 14%;
  }

  .robotext > h2 {
    z-index: 2;
    font-size: 60px;
  }

  .robotext > span {
    font-size: 28px;
    z-index: 2;
    letter-spacing: 2px;
  }

  .roboimg > video {
    margin-top: 8%;
    margin-left: 2%;
  }
}

@media (min-width: 1401px) and (max-width: 1920px) {

  .robotext {
    margin-bottom: 4%;
  }

  .robotext > h2 {
    z-index: 1 !important;
    font-size: 48px;
    margin-bottom: 2%;
  }

  .robotext > span {
    font-size: 18px;
    z-index: 1 !important;
  }

  .roboimg > video {
    margin-left: 8%;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {

  .robotext {
    margin-bottom: 14%;
  }

  .robotext > h2 {
    z-index: 1 !important;
    font-size: 28px;
    margin-bottom: 2%;
  }

  .robotext > span {
    font-size: 16px;
    z-index: 1 !important;
  }

  .roboimg > video {
    margin-left: 8%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {

  .robo {
    border: 8px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 4px solid transparent;
  }

  .robotext {
    padding: 8%;
    padding-top: 0px;
    width: 100%;
  }

  .robotext > video {
    width: 40%;
    top: -10%;
    left: 60%;
  }

  .robotext > h2 {
    z-index: 2;
    font-size: 28px;
    margin-top: 8%;
    margin-bottom: 0;
  }

  .robotext > span {
    font-family: "inter" !important;
    font-size: 16px;
    z-index: 2;
  }

  .roboimg {
    width: 100%;
    text-align: center;
  }

  .roboimg > video {
    width: 40%;
    margin-top: 4%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .robot {
    display: block;

  }

  .robo {
    border: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 4px solid transparent;

  }

  .robotext {
    padding: 4%;
    padding-top: 0px;
    width: 100%;
    text-align: center;

  }

  .robotext > video {
    top: -12%;
    left: 54%;
  }

  .robotext > h2 {
    z-index: 2;
    font-size: 60px;
    margin-top: 8%;
  }

  .robotext > span {
    font-family: "inter" !important;
    font-size: 36px;
    z-index: 2;
  }

  .roboimg {
    width: 100%;
    text-align: center;

  }

  .roboimg > video {
    width: 100%;
    margin-top: 4%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .robot {
        display: block;
  }

  .robo {
    border: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 4px solid transparent;

  }

  .robotext {
    padding: 4%;
    padding-top: 0px;
    width: 100%;
    text-align: center;

  }

  .robotext > video {
    top: -12%;
    left: 53%;
  }

  .robotext > h2 {
    z-index: 2;
    font-size: 28px;
    margin-top: 8%;
    margin-bottom: 2%;
  }

  .robotext > span {
    font-family: "inter" !important;
    font-size: 20px;
    z-index: 2;
  }

  .roboimg {
    width: 100%;
    text-align: center;
  }

  .roboimg > video {
    width: 100%;
    margin-top: 4%;
  }
}

@media (max-width: 576px) {
  .robot {
    display: block;
  }

  .robo {
    border: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 2px solid transparent;
  }

  .robotext {
    width: 100%;
    text-align: center;

  }

  .robotext > video {
    top: -12%;
    left: 48%;
  }

  .robotext > h2 {
    z-index: 2;
    font-size: 28px;
    margin-top: 8%;
    margin-bottom: 2%;
  }

  .robotext > span {
    font-family: "inter" !important;
    font-size: 16px;
    z-index: 2;
  }

  .roboimg {
    width: 100%;
    text-align: center;
  }

  .roboimg > video {
    width: 100%;
    margin-top: 4%;
  }
}
